extends layout
block content
        div.container
            h2 Bitcoin
            div.row
                div.col-md-12
                    h4 År 1999 -
                    img(src="http://bitcoincharts.com/charts/chart.png?width=940&m=bitstampUSD&SubmitButton=Draw&r=&i=&c=0&s=&e=&Prev=&Next=&t=C&b=&a1=&m1=10&a2=&m2=25&x=0&i1=&i2=&i3=&i4=&v=0&cv=0&ps=0&l=0&p=0&")
//                div.col-md-6
                    h4 10 år
                    img(src="https://www.google.com/finance/getchart?q=CURRENCY:BTCSEK&p=10Y")
