div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    div.container
        div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                | Marketanalyzer
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="nasdaq") Nasdaq
                li
                    a(href="omsx") OMSX
                li
                    a(href="dax") DAX
                li
                    a(href="hangseng") Hong kong
                li
                    a(href="shanghai") Shanghai
                li
                    a(href="gold") Gold
                li
                    a(href="bitcoin") Bitcoin
                li
                    a(href="oil") Oil
