extends layout
block content
    div.container
        <!--h2 OMSX 30 Moi hej-->
        <h3>Stock indexes - 6 months back</h3>
        <hr>
        div.row
            div.col-md-6
                h4 #[a(href="omsx") OMXS30 - Sweden]
                img(src="https://www.google.com/finance/getchart?q=OMXS30&p=6M")
            div.col-md-6
                h4 #[a(href="dax") DAX - Germany]
                img(src="https://www.google.com/finance/getchart?q=DAX&p=6M")
        div.row
            div.col-md-6
                h4 #[a(href="hangseng") HSI - Hong Kong/Hang Seng]
                img(src="https://www.google.com/finance/getchart?q=HSI&p=6M")
            div.col-md-6
                h4 #[a(href="shanghai") DJSH - Shanghai]
                img(src="https://www.google.com/finance/getchart?q=DJSH&p=6M")
        <h3>Gold/Oil - 6 months back</h3>
        <hr>
        div.row
            div.col-md-6
                h4 #[a(href="gold") Gold]
                img(src="http://charts.moneyam.com/Chart.aspx?Provider=EOD&Code=US@GC.1&Size=500&Skin=GreenRed&Type=2&Scale=0&Span=MONTH6")
            div.col-md-6
                h4 #[a(href="oil") Oil]
                img(src="http://charts.moneyam.com/Chart.aspx?Provider=EOD&Code=GB@IB.1&Size=500&Skin=GreenRed&Type=2&Scale=0&Span=MONTH6")
        <hr>
        div.row
            div.col-md-12
                h4 #[a(href="bitcoin") Bitcoin]
                img(style="max-width:100%" src="http://bitcoincharts.com/charts/chart.png?width=940&m=bitstampUSD&SubmitButton=Draw&r=&i=&c=0&s=&e=&Prev=&Next=&t=C&b=&a1=&m1=10&a2=&m2=25&x=0&i1=&i2=&i3=&i4=&v=0&cv=0&ps=0&l=0&p=0&")
