extends layout

block content
    div.container
        h2 Nasdaq
        div.row
            div.col-md-6
                h4 6 months
                img(src="https://www.google.com/finance/getchart?q=IXIC&p=6M")
            div.col-md-6
                h4 1 year
                img(src="https://www.google.com/finance/getchart?q=IXIC&p=1Y")
        div.row
            div.col-md-6
                h4 5 years
                img(src="https://www.google.com/finance/getchart?q=IXIC&p=5Y")
            div.col-md-6
                h4 10 years
                img(src="https://www.google.com/finance/getchart?q=IXIC&p=10Y")
        div.row
            div.col-md-6
                h4 Year 1972 -
                img(src="https://www.google.com/finance/getchart?q=IXIC&p=50Y")
            div.col-md-6