extends layout
block content
        div.container
            h2 Oil
            div.row
                div.col-md-6
                    h4 6 months
                    img(src="http://charts.moneyam.com/Chart.aspx?Provider=EOD&Code=GB@IB.1&Size=500&Skin=GreenRed&Type=2&Scale=0&Span=MONTH6")
                div.col-md-6
                    h4 1 year
                    img(src="http://charts.moneyam.com/Chart.aspx?Provider=EOD&Code=GB@IB.1&Size=500&Skin=GreenRed&Type=2&Scale=0&Span=YEAR1")
            div.row
                div.col-md-6
                    h4 5 years
                    img(src="http://charts.moneyam.com/Chart.aspx?Provider=EOD&Code=GB@IB.1&Size=500&Skin=GreenRed&Type=2&Scale=0&Span=YEAR5")
                div.col-md-6
                    h4 10 years
                    img(src="http://charts.moneyam.com/Chart.aspx?Provider=EOD&Code=GB@IB.1&Size=500&Skin=GreenRed&Type=2&Scale=0&Span=YEAR10")
