extends layout
block content
    div.container
        h2 OMSX 30
        div.row
            div.col-md-6
                h4 6 months
                img(src="https://www.google.com/finance/getchart?q=OMXS30&p=6M")
            div.col-md-6
                h4 1 year
                img(src="https://www.google.com/finance/getchart?q=OMXS30&p=1Y")
        div.row
            div.col-md-6
                h4 5 years
                img(src="https://www.google.com/finance/getchart?q=OMXS30&p=3Y")
            div.col-md-6
                h4 10 years
                img(src="https://www.google.com/finance/getchart?q=OMXS30&p=10Y")