extends layout
block content
    div.container
        h2 Shanghai Composte index
        div.row
            div.col-md-6
                h4 År 1999 -
                img(src="https://www.google.com/finance/getchart?q=DJSH&p=20Y")
            div.col-md-6
                h4 10 år
                img(src="https://www.google.com/finance/getchart?q=DJSH&p=10Y")
        div.row
            div.col-md-6
                h4 3 år
                img(src="https://www.google.com/finance/getchart?q=DJSH&p=3Y")
            div.col-md-6
                h4 6 månader
                img(src="https://www.google.com/finance/getchart?q=DJSH&p=6M")